header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

header img {
    width: 100px;
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding-right: 15px;
    color: white;
    text-decoration: none;
    font-family: "Roboto Slab";
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: "Roboto Slab";
}

